<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">
<head>
<title>Reverse QR</title>
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no" />
</head>
<body>
<p>File name: {{filename}}</p>
<p>File type: {{filetype}}</p>
<p>File size: {{filesize}}</p>
<a href='/d/{{qkey}}'>download</a>
<p style="text-align:center" align="center"><span><div id="qrcode" style="border: 15px solid white"></div></span></p>
<script type="text/javascript" src="qrcode.js"></script>
<script type="text/javascript">
let qrcode = new QRCode(document.getElementById("qrcode"), {width : 400,
height : 400});
qrcode.makeCode(window.location.href.replace('?q',''));
</script>
<form action="/del" id="fform" method=post enctype=multipart/form-data>
<input type="hidden" id="idi" name="idi" value="{{ qkey }}">
</form>
<button id="button" onclick="suball();" hidden="true">Delete this!</button>
<script type="text/javascript">
    if (window.location.href.indexOf("?q") != -1)
        document.getElementById('button').hidden = false;
    function suball(){
        document.getElementById('fform').submit();
    }
</script>
<br><br>
<a href="/">Do another<a>
</body>
</html>