<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ko" lang="ko">
<head>
<title>Reverse QR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<p style="text-align:center" align="center"><span><div id="qrcode" style="border: 15px solid white"></div></span></p>
<script type="text/javascript" src="qrcode.js"></script>
<script type="text/javascript">

let qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 400,
	height : 400
});
let url = window.location.href.replace('{{ qkey }}','w/{{ qkey }}');
qrcode.makeCode(url);


let checkUrl = window.location.href.replace('{{ qkey }}','c/{{ qkey }}');

function checkValues(){

    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if(xhttp.responseText == '1')
                location.reload();
        }
    };
    xhttp.open("GET", checkUrl, true);
    xhttp.send();
}


var timeOut = setInterval("checkValues()", 2000);


//checkValues()

</script>
</body>
</html>