<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">
<head>
<title>Reverse QR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
.container{
  display: table;
  height: 100%;
  width: 100%;
}
.element{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.selected{
    font-weight: bolder;
}
.normal{
    font-weight: normal;
}
</style>
<body>
<div class="container">
    <div class="element">
        <h1>Reverse QR</h1>
        <p>Ever wanted to send information or a file quickly from your phone to an untrusted device?</p>
        <p class='normal'>1 - Open this page on the untrusted device</p>
        <p id="p1" class='selected'>2 - Use your source device (phone or tablet) to scan this code</p>
        <p id="p2" class='normal'>3 - Submit the information in the resulting site</p>
        <p class='normal'>4 - Automatically and it will be displayed here</p>
        <p style="text-align:center" align="center"><span><div id="qrcode" style="border: 15px solid white; height:400px"></div></span></p>
        <p id="startover" hidden="true"><br>Messed up? No worries, <a href="../">just start over<a></p>
    </div>
</div>
<script type="text/javascript" src="qrcode.js"></script>
<script type="text/javascript">
let qrcode = new QRCode(document.getElementById("qrcode"), {
	width : 400,
	height : 400
});
let url = window.location.href.replace('{{ qkey }}','w/{{ qkey }}');
qrcode.makeCode(url);
let checkUrl = window.location.href.replace('{{ qkey }}','c/{{ qkey }}');
function checkValues(){
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            if(xhttp.responseText == '2')
                location.reload();
            if(xhttp.responseText == '1'){
                document.getElementById('qrcode').hidden = true;
                document.getElementById('p1').className = "normal";
                document.getElementById('p2').className = "selected";
                document.getElementById('startover').hidden = false;
            }
        }
    };
    xhttp.open("GET", checkUrl, true);
    xhttp.send();
}
checkValues();
var timeOut = setInterval("checkValues()", 2000);
</script>
<footer>
    <p>Author: <a href="https://twitter.com/RazoesSergio">Sergio Razoes</a> in 2022</p>
    <p><a href="https://github.com/s-razoes/s-razoes">GitHub s-razoes</a></p>
</footer>
</body>
</html>