<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN">
<head>
<title>Reverse QR</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no" />
</head>
<body>
<form action="/s" id="frm" method="post">
<p>Paste your text here:</p>
    <textarea id="txt" name="txt" rows="4" width="100%" style="border: 1px solid #999999;margin: 5px 0;padding: 3px;width: 99%;"></textarea>
<p><b>Or</b> your link here:</p>
    <input type="text" id="link" name="link">
<input type="hidden" id="idi" name="idi" value="{{ qkey }}">
<input type="hidden" id="type" name="type" value="1"><br>
<input type="hidden" id="exp" name="exp" value="">
</form>
<p><b>Or</b> upload a file ({{MAX_CONTENT_LENGTH}}Mb max.) here:</p>
<form action="/f" method=post enctype=multipart/form-data>
<input type="hidden" id="idi" name="idi" value="{{ qkey }}">
<input type=file name=file>
<input type=submit value=Upload>
<input type="hidden" id="fexp" name="exp" value="">
<p>Don't forget to select the expiration:</p>
<select id='expiration'>
    <option value="1h" selected>1 hour</option>
    <option value="10min">10 minutes</option>
    <option value="1hit">1 view</option>
    <option value="10hits">10 views</option>
</select>
</form>
<br>
<button onclick="suball();">Send this!</button>
<script type="text/javascript">
function suball(){
    document.getElementById('exp').value = document.getElementById('expiration').value;
    if(document.getElementById('link').value != ""){
        document.getElementById('type').value="2";
    }
    document.getElementById('frm').submit();
}
</script>
<br><br>
<a href="/">Do another<a>
</body>